<span ng-show="player.playerLoaded">
       <video id="videoPlayer"
              data-account="{{player.accountId}}"
              data-player="{{player.playerId}}"
              data-video-id="{{'ref:' + player.videoId}}"
              data-active-subscription="true"
              data-embed="default"
              width="960" height="540"
              class="video-js azubu-player" controls>
       </video>
</span>
<azubu-video-script ng-if="player.scriptUrl && player.scriptUrl.length > 0" data-script-url="{{player.scriptUrl}}"></azubu-video-script>
