<div class="flex-container">
  <div ng-include="'app/components/navbar/navbar.html'"></div>
  <div class="clearfix">
    <div class="pull-left controls-container">
      <div>
        <label>BC Player Loaded: {{videoJSReady}}</label>
      </div>
    </div>
  </div>
  <div class="video-container-row clearfix">
    <div class="pull-left video-container clearfix">
      <azubu-video-player data-account-id="{{::broadcastInfo.accountId}}" data-player-id="{{::broadcastInfo.playerId}}" data-video-id="{{::broadcastInfo.videoId}}"></azubu-video-player>
    </div>

    <div ng-show="!editMode" class="pull-left controls-container">
      <span ng-show="false">

      <div>
        <label><span class="header">Player / Video:</span></label>
      </div>
      <div>
        <label>BC Account Id:</label>
        <input type="text" class="form-control" ng-model="broadcastInfo.accountId" onclick="this.select()">
      </div>
      <div>
        <label>BC Player Id:</label>
        <input type="text" class="form-control" ng-model="broadcastInfo.playerId" onclick="this.select()">
      </div>
      <div>
        <label>BC Video, ref:</label>
        <input type="text" class="form-control" ng-model="broadcastInfo.videoId" onclick="this.select()">
      </div>
      <div>
        <button class="btn btn-warning">Update Player / Video Settings</button>
      </div>
      </span>
      <hr>
      <div>
        <label><span class="header">User Templates:</span></label>
      </div>
      <div ng-show="loadedTemplates.length !== 0">
        <tabset vertical="true" type="pills">
          <tab ng-repeat="overlay in loadedTemplates track by $index" heading="{{overlay.name}}" ng-click="addTemplate(overlay)"></tab>
        </tabset>
      </div>
      <div ng-show="loadedTemplates.length == 0">
        <label>None Loaded</label>
      </div>
      <hr>
      <div>
        <label><span class="header">Loaded Overlays:</span></label>
      </div>
      <div ng-show="loadedOverlays.length !== 0">
        <tabset vertical="true" type="pills">
          <tab ng-repeat="overlay in loadedOverlays track by $index" heading="{{overlay.name}}" ng-click="editOverlay(overlay)"></tab>
        </tabset>
      </div>
      <div ng-show="loadedOverlays.length == 0">
        <label>None Loaded</label>
      </div>
      <hr>
      <div>
        <button class="btn btn-success" ng-click="createOverlay()">Create Overlay</button>
      </div>
    </div>

    <div ng-show="editMode" class="pull-left controls-container">
      <div>
        <label><span class="header">Overlay Controls:</span></label>
      </div>
      <div>
        <label>Name:</label>
        <input type="text" ng-model="currentOverlay.name" onclick="this.select()"/>
      </div>
      <div>
        <label>Url:</label>
        <input type="text" ng-model="currentOverlay.url" onclick="this.select()"/>
      </div>
      <div>
        <label>Href:</label>
        <input type="text" ng-model="currentOverlay.href" onclick="this.select()"/>
      </div>
      <div>
        <button class="btn btn-warning">Update</button>
      </div>
      <hr>
      <div>
        <label><span class="header">Overlay Position:</span></label>
      </div>
      <div>
        <label>x:</label>
        <input type="text" ng-model="currentOverlay.rect.x" onclick="this.select()"/>
      </div>
      <div>
        <label>y:</label>
        <input type="text" ng-model="currentOverlay.rect.y" onclick="this.select()"/>
      </div>
      <hr>
      <div>
        <label><span class="header">Overlay Size:</span></label>
      </div>
      <div>
        <label>IAB Sizes:</label>
        <select ng-model="sizeModel">
          <option value="">-- Common IAB Sizes --</option>
          <option value="300x50">300x50 - Mobile Banner</option>
          <option value="320x50">320x50 - Mobile Banner</option>
          <option value="970x250">970x250 - Billboard</option>
          <option value="300x600">300x600 - Filmstrip</option>
          <option value="300x1050">300x1050 - Portrait</option>
          <option value="970x90">970x90 - Pushdown</option>
          <option value="300x250">300x250 - Medium Rectangle</option>
          <option value="180x150">180x150 - Rectangle</option>
          <option value="160x600">160x600 - Wide Skyscraper</option>
          <option value="728x90">728x90 - Leaderboard</option>
        </select>
      </div>
      <div>
        <label>width:</label>
        <input type="text" ng-model="currentOverlay.rect.width" onclick="this.select()"/>
      </div>
      <div>
        <label>height:</label>
        <input type="text" ng-model="currentOverlay.rect.height" onclick="this.select()"/>
      </div>
      <div>
        <label>Player Dimensions: {{playerDimensions.width}} x {{playerDimensions.height}}</label>
      </div>
      <hr>
      <div>
        <button class="btn btn-success" ng-click="saveOverlay()">Save Overlay</button>
        <button class="btn btn-danger" ng-click="removeOverlay()">Remove Overlay</button>
      </div>
    </div>
    </div>
    <div>
      <label>Player Dimensions: {{playerDimensions.width}} x {{playerDimensions.height}}</label>
    </div>
    <div class="btn-group">
      <label class="btn btn-primary" ng-model="playerSize" btn-radio="540" ng-disabled="!player">540p</label>
      <label class="btn btn-primary" ng-model="playerSize" btn-radio="720" ng-disabled="!player">720p</label>
      <label class="btn btn-primary" ng-model="playerSize" btn-radio="1080" ng-disabled="!player">1080p</label>
    </div>
</div>
