body, html {
  height: 100%;
}
.video-container-row {
  position: relative;
  display: block;
  width: 100%;
  background-color: #dedede;

  .video-container {
    position: relative;
    display: block;
    border: 0;
    background-color: #000;
    min-width: 960px;
    min-height: 540px;

  }

  .controls-container {
    width: 25%;
    padding-left: 10px;

    label {
      min-width: 100px;
      color: #666;

      span.header {
        color: #000;
        font-size: 14px;
      }
    }

  }
}

.vjs-azubu-overlay-display {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  background-color: rgba(0,255,255, .3);
  border: rgba(0,255,255,.1) 1px solid;
}
/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
